<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание людей</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
        }
        .video {
            width: 45%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Распознавание людей</h1>
    <div class="container">
        <div class="video">
            <h2>Результаты YOLO</h2>
            <img src="{{ url_for('video_feed_human') }}" width="100%">
        </div>
    </div>
</body>
</html>