<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container centered-content">
        <!-- Заголовок RoboVision -->
        <div class="title">RoboVision</div>

        <!-- Панель для задач -->
        <div class="panel">
            <h2>Выберите задачу:</h2>
            <a href="/object_detection" class="button">Распознавание посторонних объектов</a>
            <a href="/human_detection" class="button">Распознавание человека</a>
            <a href="/human_segmentation" class="button">Сегментация человека</a>
        </div>
    </div>
</body>
</html>