<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .button {
            margin: 10px;
            padding: 15px 30px;
            font-size: 18px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Выберите задачу:</h1>
        <a href="/object_detection" class="button">Распознавание (посторонних) объектов</a>
        <a href="/human_detection" class="button">Распознавание человека</a>
        <a href="/human_segmentation" class="button">Сегментация человека</a>
    </div>
</body>
</html>