<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание объектов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container centered-content">
        <h1>Распознавание посторонних объектов</h1>
        <div class="video-container">
            <h2>Реальный кадр</h2>
            <h2>Разница (чёрно-белый)</h2>
            <img src="{{ url_for('video_feed_object') }}" class="video">
        </div>
        <div>
            <a href="/" class="button">Назад</a>
        </div>
    </div>
</body>
</html>